<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <h2>Team Name: <%=@team.name%></h2>
 <h4>Coach: <%=@team.coach%></h4>
 <h6>Point Guard: <%=@team.sg%></h6>
 <h2>Team Name: <%=@team.name%></h2>

 </body>
</html>


